<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <%data.forEach((val)=>{%>
        <section>
            <h3><%=val.title%></h3>
            <img src="<%=val.poster_path%>" alt="">
            <p><%=val.vote_count%></p>
            <p><%=val.overview%></p>
        </section>

        <% })%>
    </div>
</body>
</html>